<!DOCTYPE html>
<html>

<head>

<title>Closed</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<section class="closed">

<h1>

🚫 Website Closed

</h1>

<p>

Our website is available

Monday to Friday

from

09:00 AM

to

05:00 PM.

</p>

</section>

</body>

</html>