<!DOCTYPE html>
<html>

<head>

<title>Contact</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("partials/navbar") %>

<section class="container">

<h1>Contact Us</h1>

<form>

<input
type="text"
placeholder="Your Name"
required>

<input
type="email"
placeholder="Email"
required>

<textarea
placeholder="Message"
rows="6"></textarea>

<button>

Send Message

</button>

</form>

</section>

<%- include("partials/footer") %>

</body>

</html>